body {
  background-color:rgb(182, 221, 228);
}

.regreso{
	color:white;
}

.trama{
	color:rgb(255, 136, 4);

}

.reparto{
	color:rgb(52, 194, 83);
}

.rodaje{
	color:rgb(200, 121, 232);
}

.curiosidades{
	color: rgb(232, 121, 161);
}